/* https://justfox.cf/src/images/background1.jpg h */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  background: url('https://steamuserimages-a.akamaihd.net/ugc/934931664793124225/D9861E4A35F464C8EE9E5B3B58BA2E02B352B743/') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
li {
  display: inline;
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
}
ul {
  text-align: center;
  padding: 10px;
}
#particles-js {
  height: 100%;
  position: fixed;
  top: 0%;
  z-index: -1;
  width: 100%;
}
#mainText {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: default;
  margin: auto;
  font-size: 125px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.menuButtons:hover {
  border-bottom: 3px solid #71368A;
}
.menuButtons {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition-duration: 0.3s;
  position: float;
  top: 20px;
}
#mainText:hover {
  border-bottom: 3px solid #71368A;
}
#aboutmeText {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: default;
  margin: auto;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#aboutmeText:hover {
  border-bottom: 3px solid #71368A;
}
#projects {
  text-align: center;
  cursor: default;
  margin: auto;
  font-size: 30px;
  text-align: center;
}
.projectsLink:hover {
  border-bottom: 3px solid #71368A;
}
.projectsLink {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  color: white;
  top: 50%;
}
.projectsImages {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
#projectsText1 {
  position: absolute;
  font-weight: bold;
  right: -25%;
  top: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: default;
  font-size: 20px;
  margin-top: auto;
  text-align: center;
  text-align: center;
  float: center;
  width: 50%;
}
#projectsText2 {
  position: absolute;
  font-weight: bold;
  left: 25%;
  top: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: default;
  font-size: 20px;
  margin-top: auto;
  text-align: center;
  text-align: center;
  float: center;
  width: 50%;
}
